body
{
    background-color: #161626;
}

.main
{
    color: white;
    text-align: center;
}

button 
{
    display: block;
    width: 5%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover 
{
    background-color: #005bbb;
}

.container
{
    display: flex;
    justify-content: center;
}